name: CI

on: [ push, pull_request ]

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: library/postgres:11-alpine
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: laia
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry==1.1.15
        poetry --version
        poetry config virtualenvs.create false
        poetry install -vv
    - name: Run pre-commit
      run: pre-commit run --all
    - name: Check migrations
      env:
        DJANGO_SETTINGS_MODULE: "core.settings"
        DATABASE_URL: "postgres://postgres:postgres@localhost:5432/laia"
        SECRET_KEY: "this-is-a-secret"
        ORGANIZATION_NAME: "Informação para todos"
      run: python manage.py makemigrations --check
    - name: Run tests
      env:
        DJANGO_SETTINGS_MODULE: "core.settings"
        DATABASE_URL: "postgres://postgres:postgres@localhost:5432/laia"
        SECRET_KEY: "this-is-a-secret"
        ORGANIZATION_NAME: "Informação para todos"
      run: pytest
